.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: rgb(108, 189, 108);
}

.grilla {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}
label {
    border: 1px solid black;
    padding: 15px;
}

.label2 {
    border: none;
}

h1 {
    display: flex;
    justify-content: center;
}

.fila_columna {

    display: flex;
    justify-content: center;
    flex-direction: column;
}